- title "Genres"

.block
  .secondary-navigation
    %ul
      %li.first.active= link_to 'List', genres_path
      %li= link_to 'New', new_genre_path
    .clear
  .content
    %h2.title= yield(:title)
    .inner
      %table.table
        %tr
          %th.first= order(@search, :by => :name)
          %th.last &nbsp;
        - @genres.each do |genre|
          %tr{:class => cycle("odd", "even")}
            %td= h genre.name
            %td.last
              = link_to('Edit', edit_genre_path(genre)) + ' |'
              = link_to 'Destroy', genre, :confirm => 'Are you sure', :method => :delete
      .actions-bar
        .actions
        = will_paginate @genres
        .clear

/ - content_for :sidebar, render(:partial => 'sidebar')