- editable = f.object.new_record? || (f.object == @disc.latest_recording)
%li.recording
  - if editable
    - f.inputs do
      = f.input :name
      = f.input :seen
      = f.input :description
      = f.input :photo
      = f.input :genres, :as => :check_boxes