!!! Strict
%html{html_attrs}
  
  %head
    %title= sanitize(["DVD Lib", yield(:title)].reject{|k|k.blank?}.join(' - '))
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    -# See http://henrik.nyh.se/2008/05/rails-authenticity-token-with-jquery
    - if protect_against_forgery?
      :javascript
        var AUTH_TOKEN = #{form_authenticity_token.inspect};

    
    = google_jquery
    = google_jqueryui
    = javascript_include_tag 'application'

    = stylesheet_link_tag 'web_app_theme', "themes/drastic-dark/style", "web_app_theme_override"
    = stylesheet_link_tag 'buttons'
    = silksprite_stylesheets
    = stylesheet_link_tag "formtastic", "formtastic_changes"
    = stylesheet_link_tag 'application'
    = yield(:head)
  
  %body
    #container
      #header
        %h1= link_to("DVD Lib", root_path)
        #user-navigation
          %ul
            /   %li= link_to 'Profile', '#'
            /   %li= link_to 'Settings', '#'
            %li= link_to 'Logout', logout_path
          .clear
        #main-navigation
          %ul
            %li{:class => controller.controller_path == 'discs' ? 'active' : ''}= link_to('Discs', discs_path)
            %li{:class => controller.controller_path == 'recordings' ? 'active' : ''}= link_to('History', recordings_path)
            %li{:class => controller.controller_path == 'wishlist_items' ? 'active' : ''}= link_to('Wishlist', wishlist_items_path)
          .clear
      #wrapper
        #main
          .flash
            - flash.each do |type, message|
              = content_tag :div, content_tag(:p, message), :class => "message #{type}"
          = yield
          #footer
            .block
              %p Copyright &copy; 2009 ...
        #sidebar
          = yield(:sidebar)
        .clear